h1{
 text-align: center;
}

#instructions{
    text-align: center;
}

body{
    background-image: url('desk-typing-background.jpg');
    background-size: cover;

}
#prompt1{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

#Timer,#WPM{
    font-size: 30px;
    text-align: left;
    
}

#textbox{
    margin: 0;
    padding: 0;
    float:right;
    position: relative;
    right:25%;
}
/*#WPM{
    margin-bottom: 100px;
}*/